**/node_modules
**/.next
**/.astro
**/.turbo
**/.output
**/dist
**/build
**/coverage
**/playwright-report
**/test-results
**/.lighthouseci
**/uploads
**/*.log
**/.env
!**/.env.example
.git
.github
.devcontainer
**/*.md
