engine-strict=true
auto-install-peers=true
link-workspace-packages=true
prefer-workspace-packages=true
resolution-mode=highest
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*next*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-dom*
public-hoist-pattern[]=*payload*
public-hoist-pattern[]=@payloadcms/*
